/*
	Yahoo UI Library Reset CSS
	http://developer.yahoo.com/yui/reset/
*/
table {
	border-collapse:collapse;
	border-spacing:0;
}
table{
  border-collapse: collapse;
  }


caption,th {
	text-align:left;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}

fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}

h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}

/*
リセットcss終了
*/

table{

border-spacing:0px;
/*



*/
}

th,td{
padding:0;

}


td{
width:32px;
height:32px;

}

#ban0,#ban1,#ban2,#ban3,#ban4,#ban5,#ban6,#ban7,#ban8,#ban9,#ban10{
background-color:skyblue;
height:10px;
}

#ban110,#ban111,#ban112,#ban113,#ban114,#ban115,#ban116,#ban117,#ban118,#ban119,#ban120{
background-color:skyblue;
height:10px;
}

#ban0,#ban11,#ban22,#ban33,#ban44,#ban55,#ban66,#ban77,#ban88,#ban99,#ban110{
background-color:skyblue;
width:10px;
}

#ban10,#ban21,#ban32,#ban43,#ban54,#ban65,#ban76,#ban87,#ban98,#ban109,#ban120{
background-color:skyblue;
width:10px;
}





