/*
	Yahoo UI Library Reset CSS
	http://developer.yahoo.com/yui/reset/
*/
table {
	border-collapse:collapse;
	border-spacing:0;
}
table{
  border-collapse: collapse;
  }


caption,th {
	text-align:left;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}

fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}

h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}

/*
リセットcss終了
*/

body{
	/*min-width:100%;*/
	/* overflow:hidden;上下左右スライド無効*/

	}

#wrap{
	text-align:center;/*ページ全体を中央揃えにする*/
	max-width:480px;
	width:100%;
	margin-left:auto;
	margin-right:auto;
	
/*選択コピー無効*/	
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

table{
	max-width:480px;
	width:100%;
}

/* 将棋盤周り色 */
.topEdge,.bottomEdge,.leftEdge,.rightEdge{
	background-color:khaki;
}

/* 先手,後手の駒台 */
.sStand,.gStand{
	position:relative;/* 位置指定の基準点にする*/	
	background-color:lightgoldenrodyellow;
	/* saddlebrown skyblue*/
	/* tan*/
	/* burlywood*/
	/* wheat*/
	/* lemonchiffon*/
	/* lightgoldenrodyellow*/
	width:10%;
	height:0;
 	padding-top:5%;
}

#g0,#s0,#g10,#s10{
	width:5%;
	height:0;
 	padding-top:5%;
}

/* 先手,後手の駒台複数枚表記エリア */
.sNum,.gNum{
	position:relative;/* 位置指定の基準点にする*/	
	background-color:lightgoldenrodyellow;
	width:10%;
	height:0;
 	padding-top:1.5%;
}
#g11,#s11,#g21,#s21{
	width:5%;
	height:0;
 	padding-top:1.5%;
}
/* 盤周り上,下側 class指定 */ 
.topEdge,.bottomEdge{
	width:10%;
	height:0;
 	padding-top:2%;
}

#d0s0,#d0s10,#d10s0,#d10s10{
	width:5%;
	height:0;
 	padding-top:2%;
}
.bottomEdge{
	background-color:khaki;
}


/* 将棋盤 */
.ban{
	background-color:khaki;
/*
	border:0.5px solid black;
	-webkit-box-sizing: border-box;
	box-sizing:border-box;
*/
	position:relative;/* 位置指定の基準点にする*/		
	width:10%;
	height:0;
 	padding-top:6%;
}

*/
.leftEdge,.rightEdge{
	width:5%;
	height:0;
 	padding-top:5%;
}
*/

/* パネル 上側 class指定 */
.topEdge{
	border-bottom:0.5px solid black;
	box-sizing:border-box;
}

.leftEdge{
	border-right:0.5px solid black;
	box-sizing:border-box;
}

.rightEdge{	
	border-left:0.5px solid black;
	box-sizing:border-box;
}
*/


/*#recordCount{
	width:40%;
	text-align:center;
}*/


#gamemode,#teban,#outedisp,#enddisp,#windisp,#gamecount{
	font-weight:bolder;/* 太字にする */
}

/* 駒の中央揃え */
td{
	text-align:center;
	vertical-align:middle;
}

/* 駒 */
.skoma,.gkoma{
	position:absolute; /*位置指定 */
	/*background-color:khaki;*/	
	font-family:Meiryo;
	font-weight:bolder;/* 太字にする */
	width:100%;
	line-height:1.5;/* 余白を含めた文字の高さ*/
}
/* 先手の駒 */
.skoma{
		
	left:50%;/* 親要素の半分右にずらす */
	transform:translateY(-50%) translateX(-50%);/* Y軸,X軸を移動する。*/	
}

/* 後手の駒 */
.gkoma{
	top:25%;/* 親要素の半分下にずらす */	
	transform: scale(-1,-1);/*上下左右を反転する。*/	
}


/* 成り駒 */
.promotion{
	color:red;
/* 候補①red */
/* 候補②maroon */
	
}

/* 持ち駒複数表記 */
.numDisp{
	/* yellow */
}

/* コメント */

/*


*/
/*
,#s9{
	border-top:0.5px solid black;
	box-sizing:border-box;
}

#g1,#g2,#g3,#g4,#g5,#g6,#g7,#g8,#g9{
	border-top:0.5px solid black;
	border-bottom:0.5px solid black;
	box-sizing:border-box;
}
#s1,#s2,#s3,#s4,#s5,#s6,#s7,#s8,#s9{
	border-top:0.5px solid black;
	box-sizing:border-box;
}
*/


